@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.page-header {
  background-color: #FFE17F;
  color: #000000;
  margin: 40px auto 0;
  width: 1160px;
}

/*header-and-footer-logo-link*/

.header-link {
  display: block;
  margin-top: -22.6px;
  width: fit-content;
  line-height: 0;
}

.header-link:hover, .footer-logo:hover {
  opacity: 0.6;
}

.header-link:active, .footer-logo:active {
  opacity: 0.3;
}

.header-link:focus, .footer-logo:focus  {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1040px;
}

.user-menu {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.user-menu {
  align-items: center;
}

.menu-links, .header-second-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-second-menu {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 22.6px;
  align-items: center;
}

.menu-links {
  margin-left: 25.5px;
  flex-grow: 1;
  justify-content: flex-end;
}

.second-menu-item:nth-of-type(3) {
  margin-right: auto;
  margin-left: auto;
}

.second-menu-item:first-of-type {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 274px;
  padding: 0;
}

.link-button {
  display: flex;
  align-items: center;
}

.second-menu-button {
  width: 50px;
  height: 50px;
  background-image: url(../images/plus_icon.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  opacity: 0.3;
  margin-left: 17px;
}

.second-menu-item:first-of-type:hover .second-menu-button {
  opacity: 1;
}

.second-menu-item:not(:first-of-type):hover {
  opacity: 0.6;
}

.second-menu-item:not(:first-of-type):active {
  opacity: 0.3;
}

.second-menu-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.second-menu-item:focus-within .subcatalog {
  display: flex;
}

.subcatalog {
  display: none;
  position: absolute;
  bottom: -196px;
  left: -60px;
  height: 180px;
  width: 1100px;
  z-index: 3;
  background-color: #FFE17F;
  padding: 0;
  list-style-type: none;
  padding-top: 33px;
  padding-left: 60px;
}

.subcatalog-link {
  text-decoration: none;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
  color: #000000;
}

.subcatalog-item {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.device-presentation, .gadget-categories,
.rare-gadgets, .contacts-wrapper, .delivery-terms,
.subscription {
  width: 1160px;
  margin: 0 auto;
}
/*section device presentation*/

.device-presentation-background-wrapper {
  position: relative;
  height: 110px;
  background-color: #FFE17F;
}

.device-presentation {
  margin-bottom: 70px;
}

.slide {
  position: absolute;
  right: 49px;
  bottom: -14px;
  font-size: 180px;
  line-height: 130px;
  font-weight: 700;
  color: #ffffff;
}

.main-inner {
  background-color: #F0F0F0;
}

.page-container {
    width: 1160px;
    margin: 0 auto;
}

.inner-header-wrapper, .product-list {
  background-color: #ffffff;

}

.main-inner-header {
  width: 1040px;
  margin: 0 auto;
  padding-bottom: 35px;
}

.menu-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.second-menu-link:not(:first-of-type) {
  display: block;
}

.second-menu-link {
  z-index: 4;
}

.second-menu-link, .details-link,
.delivery-term-button, .about-link, .contacts-link,
.newsletter-button, .footer-link, .catalog-show-button,
.add-cards-button, .pagination-link-word {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
}

/* header search field */

.search-text {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  min-width: 359px;
  padding: 8px 0 8px 48px;
  background-color: #FFE17F;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
  margin: 0;
}

.search-text::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-text::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-text:focus {
  z-index: 3;
  box-shadow: 0 0 0 2px #FFE17F, 0 0 0 4px #AF4FFF;
  outline: none;
}

.search-text:disabled {
  opacity: 0.3;
}

.search-text::placeholder {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.header-search {
  display: flex;
  position: relative;
}

.header-search::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 16px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/search_icon.png);
  z-index: 4;
}

/* header search button fteld*/

.search-button {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 8px 55px;
  margin: 0;
  background-color: inherit;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3)
}

.search-button:focus {
  z-index: 3;
  box-shadow: 0 0 0 2px #FFE17F, 0 0 0 4px #AF4FFF;
  border-left: 2px solid #000000;
}

/* header enter button */

.menu-link-enter {
  padding: 0 0 0 27px;
  position: relative;
  border: none;
}

.menu-link:hover, .subcatalog-link:hover {
  opacity: 0.6;
}

.menu-link:active, .subcatalog-link:active {
  opacity: 0.3;
}

.menu-link:focus, .subcatalog-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.menu-item {
  position: relative;
}

.menu-item:first-of-type {
  margin-right: auto;
}

.menu-link-enter::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  display: block;
  width: 13px;
  height: 12px;
  background-image: url(../images/enter_icon.svg);
}

/* header compare button field*/

.menu-link-compare {
  padding: 0 0 0 22px;
  position: relative;
}

.menu-link-compare::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  display: block;
  width: 10px;
  height: 12px;
  background-image: url(../images/compare_icon.svg);
}

/* header cart button field*/

.menu-link-cart {
  padding: 0 0 0 25px;
  margin-left: 36px;
  position: relative;
}

/*slider pagination buttons*/

.slider-pagination {
  display: flex;
  justify-content: space-between;
  width: 76px;
  line-height: 0;
  list-style-type: none;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  border-radius: 50px;
  border: 2px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-pagination-button::before,
.slider-pagination-button-current::before {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -2px;
  width: 12px;
  height: 12px;
}

.slider-pagination-button-current {
  position: relative;
  background-color: #000000;
}

.slider-pagination-button:hover, .slider-pagination-button-current:hover {
  opacity: 0.6;
}

.slider-pagination-button:active, .slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-pagination-button:focus::before,
.slider-pagination-button-current:focus::before {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.menu-link-cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -3px;
  display: block;
  background-image: url(../images/basket_icon.svg);
  width: 16px;
  height: 14px;
}

.menu-link-cart::after {
  content: "2";
  position: absolute;
  top: 5px;
  left: -18px;
  display: block;
  text-align: center;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;

  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  position: relative;
}

.gadget-slogan, .description, .slider-pagination,
.gadget-advantages, .delivery-terms-list, .term-description,
.section-title, .about-description, .transport-list,
.contacts-description, .contacts-subtitle, .contacts-address-text,
.contacts-schedule, .subscrription-title, .subscription-description,
.footer-address-text, .footer-links, .social-media-links,
.catalog-filter-group, .catalog-filter-subtitle, .catalog-filter-list {
  margin: 0;
  padding: 0;
}

.presentation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
  max-height: 560px;
}

.gadget-description, .slider {
  width: 560px;
  z-index: 2;
}

.slider {
  position: relative;
}

.slider-button {
  width: 20px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../images/slider_button_arrow.png);
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-button-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 211px;
  right: 0;
  width: 530px;
}


.gadget-categories {
  margin-bottom: 70px;
}

.gadget-category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gadget-card {
  width: 160px;
}

.card-icon-link {
  height: 100%;
  display: block;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.card-icon-link img {
  background-color: #FFE17F;
}

.card-icon-link:hover img {
  background-color:#FFC700;
}

.card-icon-link:active {
  opacity: 0.3;
}

.card-icon-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.card-description {
  display: block;
  padding-top: 33px;
}

.gadget-slogan {
  margin-bottom: 29px;
  margin-top: 121px;

}

.description {
  margin-bottom: 51px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  margin-bottom: 49px;
}

/*buttons*/

.details-link {
  position: relative;
  display: block;
  min-width: 220px;
  text-align: center;
}

.details-link:hover {
  background-color:#FFE17F;
}

.details-link:active {
  background-color:#FFCC33;
}

.details-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.details-link:disabled {
  opacity: 0.3;
}

.details-link::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 220px;
  height: 8px;
  background-image: url(../images/button-background.svg);
  z-index: -1;
}

.term-icon {
  margin-top: 72.5px;
}

.delivery-term-button {
  width: 160px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.delivery-term-button:hover {
  background-color: #FFE17F;
}

.delivery-term-button:active {
  background-color: #FFCC33;
}

.delivery-term-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.delivery-term-button-active {
  color:#FFE17F;
  min-width: 280px;
  padding-left: 20px;
  text-align: start;
  line-height: 40px;
}

.delivery-term-button-active:hover {
  opacity: 0.5;
}

.delivery-term-button-active:active {
  opacity: 0.3;
}

.delivery-term-button-active:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.delivery-term-active {
  background-color: #000000;
  line-height: 40px;
}

.delivery-term-button::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 160px;
  height: 8px;
  background-image: url(../images/button-background.svg);
  z-index: -1;
}

.delivery-term-button-active::before {
  background: none;
}

.newsletter-email-field {
  width: 557px;
  background-color: #F0F0F0;
  border: none;
  box-sizing: border-box;
  border-bottom: 3px solid #c4c4c4;
  padding-left: 16px;
  font: inherit;
 }

.newsletter-email-field::placeholder {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #444444;
  opacity: 50%;
}

.newsletter-email-field:focus {
  border: none;
  background-color: #dcdcdc;
  outline: none;
}

.newsletter-email-field:focus:invalid {
  border-bottom: 3px solid #FF3D3D;
}

.newsletter-email-field:disabled {
  opacity: 0.3;
}

.newsletter-button {
  padding: 18px 39px;
  border: 3px solid #cecece;
  cursor: pointer;
}

.newsletter-button:hover {
  border: 3px solid #000000;
}

.newsletter-button:active {
  opacity: 0.3;
}

.newsletter-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.newsletter-button:disabled {
  opacity: 0.3;
  border: 3px solid #E5E5E5;
}

.newsletter-slogan {
  position: relative;
  display: block;
  margin-left: auto;
  padding: 13.5px 0 13.5px 32px;
}

.newsletter-slogan::before{
  position: absolute;
  top: 21px;
  left: 1.5px;
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../images/free-icon.svg);
}

.section-title, .subscribtion-title, .gadget-slogan,
.term-name, .main-inner-header-title, .subscrription-title {
  font-family: Raleway, sans-serif;
  line-height: 50px;
  font-size: 50px;
}

.main-inner-header-title {
  margin: 0;
  padding-top: 35px;
}

.gadget-advantages {
  display: flex;
  list-style-type: none;
}

.gadget-advantage {
  margin-left: 20px;
}

.value {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.parameter {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.delivery-terms {
  display: flex;
  transform: translateY(-95px);
}

.delivery-terms-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 65px;
  width: 280px;
  min-height: 190px;
  list-style-type: none;
}

.delivery-terms-wrapper {
  border-right: 7px solid #000000;
  box-sizing: border-box;
}

.terms-card {
  width: 448px;
  margin-left: 116px;
  margin-right: 110px;
}

.section-size-wrapper-delivery {
  margin-bottom: 70px;
  margin-top: 172px;
  height: 289px;
}

.term-name {
  display: block;
  margin-top: 72.5px;
}

.term-description {
  margin-top: 34px;
}

.rare-gadgets {
  display: flex;
  margin-bottom: 70px;
}

.rare-gadget-button {
  display: flex;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  align-items: center;
}

.rare-gadget-icon {
  width: 125px;
  height: 100px;
  background-image: url(../images/rare_gadget_icon.svg);
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.rare-gadget-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 30px 42.5px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.rare-gadget-info-icon {
  opacity: 0.3;
}

.rare-gadget-delivery {
  display: block;
  font-family: Raleway, sans-serif;
  line-height: 20px;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  flex-grow: 1;
}

.rare-gadget-button:hover .rare-gadget-icon {
  background-color: #FFC700;
}

.rare-gadget-button:hover .rare-gadget-info-icon {
  opacity: 1;
}

.rare-gadget-button:active .rare-gadget-info-icon {
  opacity: 1;
}

.rare-gadget-button:active {
  opacity: 0.3;
}

.rare-gadget-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.section-size-wrapper, .rare-gadgets {
  background-color:#F0F0F0;
}

.transport-item {
  font-weight: 700;
  line-height: 20px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin-top: 40px;
}

.about-description, .contacts-description {
  margin-top: 48px;
}

.about-description:last-of-type{
  margin-top: 30px;
}

.contacts-subtitle {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
}

.contacts-schedule {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin-top: 15px;
}

.transport-list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.transport-item {
  padding-bottom: 19px;
  margin-left: 26px;
}

.horizontal-line {
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about {
  width: 520px;
}

.about-link, .contacts-link {
  display: flex;
  position: relative;
  width: 270px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.about-link:hover, .contacts-link:hover {
  background-color: #FFE17F;
}

.about-link:active, .contacts-link:active {
  background-color:#FFCC33;
}

.about-link:focus, .contacts-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.about-link:disabled, .contacts-link:disabled {
  opacity: 0.3;
}

.about-link::before {
  position: absolute;
  top: 17px;
  left: 0;
  content: "";
  width: 270px;
  height: 8px;
  background-image: url(../images/button-background.svg);
  z-index: -1;
}

.contacts-link::before {
  position: absolute;
  top: 17px;
  left: 0;
  content: "";
  width: 259px;
  height: 8px;
  background-image: url(../images/button-background.svg);
  z-index: -1;
}

.contacts {
  width: 532px;
}

.contacts-phone-link {
  text-decoration: underline;
  color: #000000;
}

.contacts-phone-link:hover {
  color:#FFC700;
}

.contacts-phone-link:active {
  color:rgba(255, 199, 0, 0.3);
}

.contacts-phone-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.page-footer {
  background-color: #444444;
}

.section-size-wrapper-subscription {
  margin-top: 70px;
}

.subscription {
  display: flex;
  flex-direction: column;
}

.subscribtion-text {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  align-items: flex-end;
  margin-bottom: 146px;
}

.subscrription-title {
  width: 348px;
}

.subscription-description {
  width: 560px;
}

.newsletter-form {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 56px;
}

.footer-logo {
  margin-top: 62px;
  line-height: 0;
  width: fit-content;
}

.footer-address-text, .footer-phone-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
}

.footer-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-link:active {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
  opacity: 0.3;
}

.footer-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link:hover, .select-control:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active, .select-control:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus, .select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 36px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 16px;
  width: 4px;
  height: 7px;
  background-image: url(../images/breadcrumbs_logo.png);
  opacity: 0.2;
}

.catalog-sorting {
  display: flex;
  background-color: #F0F0F0;
}

.select-control {
  width: 160px;
  height: 30px;
  margin: auto 196.5px auto 0;
  border: none;
  background-color: inherit;
}

.select-control option, .select-control {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.sorting-button {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.sorting-button:first-of-type:hover::before,
.sorting-button:last-of-type:hover::before {
  opacity: 0.5;
}

.sorting-button:first-of-type:active::before,
.sorting-button:last-of-type:active::before {
  opacity: 1;
}

.sorting-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 2;
}

.sorting-button:first-of-type::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 11px;
  height: 10px;
  background-image: url(../images/up_triangle_icon.png);
  opacity: 0.2;
}

.sorting-button:last-of-type::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 11px;
  height: 10px;
  background-image: url(../images/up_triangle_icon.png);
  transform: rotate(180deg);
  opacity: 0.2;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  list-style-type: none;
  margin: 0;
  padding: 70px 40px 44px;
}

.catalog-filter-subtitle {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 25.5px 0 25.5px 40px;
}

.catalog-filter-subtitle-sorting {
  margin-right: 196.5px;
}

.catalog-filter-subtitle-filter {
  padding-left: 0;
  margin-bottom: 35px;
}

.catalog-filter-group {
  border: none;
  width: 200px;
  margin: 0;
  padding: 0;
}

.catalog-filter-group:last-of-type {
  margin-top: 35px;
}

.catalog-filter-title, .card-subtitle {
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter-title {
  width: 100%;
  border-top: 2px solid #000000;
  padding-top: 12px;
  margin-bottom: 20px;
}

.catalog-filter-item {
  display: flex;
  align-items: center;
  height: 20px;
}

.catalog-filter-item:not(:last-of-type) {
  margin-bottom: 17.5px;
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;
  line-height: 19px;
  font-size: 16px;
}

.control-input {
  margin: 0;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:focus-within::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input:disabled + .control-mark ~ .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../images/checkbox_on.svg);
}

.control-input[type="checkbox"]:checked + .control-mark {
  border:2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark {
  border:2px solid #000000;
}

.card-price {
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 7px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus::before {
  position: absolute;
  left: -2px;
  top: -2px;
  content: "";
  width: 18px;
  height: 18px;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  color: #000000;
  opacity: 0.3;
  transform: translateX(-20px);
}

.range-input {
  width: 60px;
  padding: 0 5px;
  font: inherit;
  text-align: start;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.add-cards-button {
  cursor: pointer;
  padding: 18px;
  font-size: 16px;
  line-height: 19px;
  background-color: inherit;
  width: 760px;
  margin: 0 40px 44px;
  box-sizing: border-box;
  border: 3px solid #E5E5E5;
}

.add-cards-button:hover {
  border: 3px solid #000000;
}

.add-cards-button:active {
  opacity: 0.3;
}

.add-cards-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-link-numbers {
  display: flex;
  margin: 0 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:nth-of-type(2) {
  margin: auto 0;
}

.pagination-link-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-link-number-current {
  color: rgba(68, 68, 68, 0.6);
}

.pagination-link-number:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link-number:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link-number:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-link-item {
  width: 40px;
  height: 40px;
}

.pagination-link-word {
  display: block;
  padding: 25px;
}

.pagination-link-word:hover {
  background-color: #dcdcdc;
}

.pagination-link-word:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link-word:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  margin-top: 35px;
}

.footer-address-text {
  width: 240px;
  margin-right: 117px;
}

.footer-phone-link {
  width: 175px;
  margin-top: 7px;
}

.footer-phone-link:hover {
  color: #FFC700;
}

.footer-phone-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-phone-link:active {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-links {
  width: 444px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 4px;
  margin-right: auto;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 62px;
  margin-bottom: 61px;
}

.social-media-links {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-right: 390px;
  list-style-type: none;

}

.social-media-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.social-outline-wrapper {
  position: absolute;
  width: 44px;
  height: 44px;
}


.social-media-link:hover {
  background-color: #FFC700;
}

.social-media-link:active img {
  opacity: 0.3;
}

.social-media-link:focus .social-outline-wrapper {
  outline: 2px solid #AF4FFF;
}

.horizontal-line-footer {
  height: 7px;
  width: 80px;
  background-color: #FFC500;
  margin-right: 424px;
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-link:hover .htmlacademy-svg {
  fill: #FFFFFF;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.htmlacademy-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/*catalog*/

.catalog-products {
  display: flex;
}

/*catalog buttons*/

.catalog-show-button {
  position: relative;
  width: 220px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  margin-top: 36.5px;
  z-index: 1;
  padding: 9.5px 0;
}

.catalog-show-button:hover {
  background-color: #FFE17F;
}

.catalog-show-button:active {
  background-color: #FFCC33;
}

.catalog-show-button:active::before {
  display: none;
}

.catalog-show-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-show-button:disabled {
  opacity: 0.3;
}

.catalog-show-button::before {
  position: absolute;
  top: 16px;
  left: 0;
  content: "";
  width: 220px;
  height: 8px;
  background-image: url(../images/button-background.svg);
  z-index: -1;
}

.catalog-filter {
  width: 260px;
  padding-left: 60px;
}

.right-column-container {
  background-color: #ffffff;
  flex-grow: 1;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 78px;
  padding: 0;
  list-style-type: none;
  background-color: #EBEBEB;
}

.catalog-filter-list {
  list-style-type: none;
}

.card-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
}

.card-link:hover::before {
  position: absolute;
  top: 180px;
  left: 72px;
  content: "подробнее";
  width: 220px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  z-index: 2;
}

.card-link:hover::after {
  position: absolute;
  top: 186px;
  left: 72px;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  z-index: 1;
}

.card-link:active::after {
  position: absolute;
  top: 186px;
  left: 72px;
  content: "";
  width: 220px;
  height: 8px;
  background-color: #FFC700;
  z-index: 1;
}

.product-card:hover img {
  opacity: 0.2;
}

.product-card:hover div {
  opacity: 0.6;
}

.product-card:active div {
  opacity: 0.3;
}

.card-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 2;
}

.product-card-new {
  position: relative;
}

.product-card-new::after {
  display: block;
  position: absolute;
  top: 27px;
  right: 27px;
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-new:hover::after, .product-card-new:hover::before {
  opacity: 0.2;
}

.product-card-new::before {
  position: absolute;
  top: 51px;
  right: 42px;
  content: "NEW";
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16.5px;
  letter-spacing: 20%;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card-subtitle {
  max-width: 226px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.catalog-card-description {
  display: flex;
  margin-top: 32px;
}

/*modal window*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 5;
}

.modal-container-closed {
  display: none;
}


.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
}


.modal-delivery {
  width: 760px;
  border: 10px solid #000000;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("/images/close_cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.field-group:first-of-type {
  width: 360px;
}

.field-group:nth-of-type(2) {
  width: 360px;
  margin-left: 40px;
}

.field-group:nth-of-type(3) {
  width: 540px;

}

.field-group:last-of-type {
  width: 180px;
  margin-left: 40px;
}

.field-group label {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 14px;
}

.field {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);

  margin: 0;
  padding: 0;
  border: none;
  background-color:#F0F0F0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
}

.field::placeholder {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.field-group {
  position: relative;
}

.field-group:nth-of-type(2):after {
  position: absolute;
  top: 50%;
  right: 24px;
  content: "";
  width: 15px;
  height: 12px;
  background-image: url(../images/envelope.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.field-group:first-of-type:after {
  position: absolute;
  top: 50%;
  right: 24px;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(../images/modal_name_icon.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.field-note {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.field:hover {
  background-color: #DCDCDC;
}

.field:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.field:disabled {
  opacity: 0.3;
}

.email-field:focus:invalid {
  border: 2px solid #FF3D3D;
  box-sizing: border-box;
}

.email-field:focus:invalid + span {
  color: #FF3D3D;
}

.quantity-field::-webkit-outer-spin-button,
.quantity-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.quantity-field {
  width: 60px;
  padding-left: 60px;
  padding-right: 60px;
  align-self: center;
  text-align: center;
  margin-top: 4px;
}

.quantity-field:active, .quantity-field:focus {
  outline: none;
}

.quantity-field:active:invalid {
  outline: 2px solid #FF3D3D;
}


.quantity-field::placeholder {
  text-align: center;
}

.delivery-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  background-color: #F0F0F0;
  cursor: pointer;
}

.delivery-button:hover svg {
  fill: rgba(0, 0, 0, 0.6);
}

.delivery-button:active svg{
  fill: rgba(0, 0, 0, 0.3);
}

.delivery-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.delivery-button-less {
  right: 200px;
  bottom: 154px;
}

.delivery-button-more {
  right: 80px;
  bottom: 154px;
}

.delivery-form-button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;


  position: relative;
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  z-index: 1;
}

.delivery-form-button::before {
  right: 0;
  top: 15.5px;
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.delivery-form-button:hover {
  background-color: #FFE17F;
}

.delivery-form-button:active, .delivery-form-button:active::before {
  background-color: #FFCC33;
}

.delivery-form-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/*modal tooltip*/

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  margin-top: 2px;
}

.tooltip-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.tooltip-text {
  display: none;
  width: 164px;
  padding: 19px 17px 19px 19px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
  z-index: 3;

  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: -142px;
}

.tooltip-text::after {
  content: "";
  width: 14px;
  height: 6px;
  background-image: url(/images/popver_triangle.svg);
  position: absolute;
  top: -6px;
  right: 38px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

/*cart popover*/

.popover {
  display: none;
  position: absolute;
  top: 40px;
  left: -110px;
  z-index: 4;
  box-sizing: border-box;
  width: 320px;
  min-height: 90px;
  color: #ffffff;

  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.popover-open {
  display: block;
}

.popover-triangle {
  width: 100%;
  height: 6px;
  background-color: transparent;
  background-image: url(/images/popver_triangle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.popover-content {
  background-color: #000000;
  height: 100%;
}

.cart-item-name, .cart-summary-item-name, .cart-summary-item-value,
.cart-items, .cart-summary {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  position: relative;
  padding: 20px;
}

.card-item-link {
  display: flex;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.cart-item-name {
  max-width: 155px;
  padding-right: 5px;
}

.cart-item img {
  margin-right: 23px;
}

.cart-item:hover .cart-item-image {
  opacity: 0.6;
}

.cart-item:hover .cart-item-name {
  opacity: 0.6;
}

.cart-item:active .cart-item-image {
  opacity: 0.3;
}

.cart-item:active .cart-item-name {
  opacity: 0.3;
}

.card-item-link:focus{
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px;
  background-color:#1A1A1A;
}

.cart-summary-item {
  display: flex;
}

.cart-summary-item-name {
  margin-right: 5px;
}

.cart-item-delete-button {
  position: absolute;
  display: flex;
  top: 19px;
  right: 20px;
  border: none;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  height: 10px;
  align-items: center;
  justify-content: center;
}

.cart-item-delete-button:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.cart-item-delete-button:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.cart-item-delete-button:focus  {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.cart-open-button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: none;
  padding: 14.5px 23px;
  margin: 20px;
  cursor: pointer;
}

.cart-open-button:hover {
  background-color: #FFE17F;
}

.cart-open-button:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

.cart-open-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
